<div class="contenedor-fotos no-visible">
  <div class="grupo-uno">
    <a
      href="https://www.htvs.com.ar/computacion/laptops/notebooks/notebooks_DisplayType_G_NoIndex_True#applied_filter_id%3Dcategory%26applied_filter_name%3DCategor%C3%ADas%26applied_filter_order%3D3%26applied_value_id%3DMLA1652%26applied_value_name%3DNotebooks%26applied_value_order%3D2%26applied_value_results%3D128%26is_custom%3Dfalse"><img
        src="https://images2.imgbox.com/f3/68/IHGb6tbD_o.jpg" class="foto-uno" alt="categoria notebooks"
        loading="lazy"></a>
    <a href="/tecnologia_DisplayType_G"><img src="https://images2.imgbox.com/f9/88/wwPSAqw8_o.jpg" class="foto-dos"
        alt="categoria tecnologia" loading="lazy"></a>
  </div>
  <div class="grupo-dos">
    <a href="/seguridad_DisplayType_G"><img src="https://images2.imgbox.com/94/07/Sso0kJKa_o.jpg" class="foto-tres"
        alt="categoria seguridad" loading="lazy"></a>
    <a href="/instrumentos_DisplayType_G"><img src="https://images2.imgbox.com/f1/95/oTUZgZh3_o.jpg" class="foto-cuatro"
        alt="categoria musica" loading="lazy"></a>
  </div>
</div>

<div class="contenedor-banner no-visible">
  <div class="banner-gaming_desktop">
    <a href="https://www.htvs.com.ar/gaming_DisplayType_G" style="text-align: center;"><img src="https://iili.io/GzLa5b.jpg"
        alt="banner-gaming-desktop"></a>
  </div>

  <div class="banner-gaming_mobile">
    <a href="https://www.htvs.com.ar/gaming_DisplayType_G" style="text-align: center;"><img src="https://iili.io/GzLYdu.jpg"
        alt="banner-gaming-mobile"></a>
  </div>
</div>

<div class="contenedor-newsletter-video no-visible">
  <div class="contenedor-newsletter">
    <p class="showroom">Nuevo Showroom</p><br>
    <p class="exclusivo">Exclusivo<br>Notebooks</p><br>
    <p class="direccion">Hipolito Yrigoyen 161, Junín</p><br>
    <p><a class="mapa"
        href="https://www.google.com/maps/place/Hackers+Notebook+Showroom/@-34.5894563,-60.9444351,19.81z/data=!4m5!3m4!1s0x95b8eb59ebe3b74d:0x3fcb24ab4753c2f1!8m2!3d-34.5894372!4d-60.944314?shorturl=1"
        target="_blank">Ver en mapa</a></p>
  </div>

  <div class="contenedor-video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/US0b-tfXGfg" title="YouTube video player"
      loading="lazy" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>

<div class="fashion-nav-footer-contact">
  <div class="fashion-nav-footer-contact__content header--custom-background">
    <div class="nav-bounds nav-bounds--contact">
      <div class="fashion-nav-footer__brand-col header--custom-text">
        {{#if logo}}
        <a class="nav-fashion-header__logo_footer" href="/" id="logo-wrapper">
          <span class="nav-header__title-hidden">{{name}}</span>
          <img class="logo-footer nav-header__image nav-fashion-header__logo_footer" src="{{logo}}" alt="{{name}}"
            itemprop="logo" />
        </a>
        {{else}}
        <h3 class="nav-footer-contact-title header--custom-text">
          <a class="nav-fashion-header__logo" href="/">{{name}}</a>
        </h3>
        {{/if}}
        <div class="tarjetas">
          <div class="tarjetas-5">
            <img class="tarjeta"
              src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png"
              alt="tarjeta visa" loading="lazy">
            <img class="tarjeta"
              src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png"
              alt="tarjeta mastercard" loading="lazy">
            <img class="tarjeta"
              src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png"
              alt="tarjeta amex" loading="lazy">
            <img class="tarjeta"
              src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/diners@2x.png"
              alt="tarjeta diners" loading="lazy">
            <img class="tarjeta"
              src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/banelco@2x.png"
              alt="tarjeta banelco" loading="lazy">
          </div>
          <div class="tarjetas-5">
            <img class="tarjeta"
              src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cabal@2x.png"
              alt="tarjeta cabal" loading="lazy">
            <img class="tarjeta"
              src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png"
              alt="tarjeta naranja" loading="lazy">
            <img class="tarjeta"
              src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-shopping@2x.png"
              alt="tarjeta shopping" loading="lazy">
            <img class="tarjeta"
              src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png"
              alt="tarjeta mercadopago" loading="lazy">
            <img class="tarjeta" src="https://iili.io/73uUPV.png" alt="tarjeta cordobesa" loading="lazy">
          </div>
          <div class="tarjetas-5">
            <img class="tarjeta"
              src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/argencard@2x.png"
              alt="tarjeta argencard" loading="lazy">
            <img class="tarjeta"
              src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/nativa@2x.png"
              alt="tarjeta nativa" loading="lazy">
            <img class="tarjeta"
              src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cencosud@2x.png"
              alt="tarjeta cencosud">
            <img class="tarjeta"
              src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png"
              alt="tarjeta pagofacil" loading="lazy">
            <img class="tarjeta"
              src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png"
              alt="tarjeta rapipago" loading="lazy">
          </div>
        </div>
        <div class="fashion-nav-footer__social-media--responsive">
          {{#each socialNetworks}}
          <a href="{{url}}" rel="noreferrer noopener" target="_blank" class="header--custom-svg">
            {{> (concat 'icons/social_networks/' (lookup . 'name'))}}
          </a>
          {{/each}}
        </div>
      </div>

      <div class="fashion-nav-footer__categories-col header--custom-border categorias-footer">
        <span class="fashion-nav-footer__category">
          <a href="/gaming_DisplayType_G" data-id="{{id}}" class="header--custom-text">
            Gaming
          </a>
        </span>
        <span class="fashion-nav-footer__category">
          <a href="/tecnologia_DisplayType_G" data-id="{{id}}" class="header--custom-text">
            Tecnología
          </a>
        </span>
        <span class="fashion-nav-footer__category">
          <a href="/seguridad_DisplayType_G" data-id="{{id}}" class="header--custom-text">
            Seguridad
          </a>
        </span>
        {{!-- <span class="fashion-nav-footer__category">
          <a href="/hogar" data-id="{{id}}" class="header--custom-text">
            Hogar
          </a>
        </span> --}}
        <span class="fashion-nav-footer__category">
          <a href="/conectividad_DisplayType_G" data-id="{{id}}" class="header--custom-text">
            Conectividad
          </a>
        </span>
        <span class="fashion-nav-footer__category">
          <a href="https://www.htvs.com.ar/electronica/audio/audio_DisplayType_G#applied_filter_id%3Dcategory%26applied_filter_name%3DCategor%C3%ADas%26applied_filter_order%3D3%26applied_value_id%3DMLA409810%26applied_value_name%3DAudio%26applied_value_order%3D1%26applied_value_results%3D7%26is_custom%3Dfalse"
            data-id="{{id}}" class="header--custom-text">
            Audio
          </a>
        </span>
        <span class="fashion-nav-footer__category">
          <a href="/instrumentos_DisplayType_G" data-id="{{id}}" class="header--custom-text">
            Instrumentos Musicales
          </a>
        </span>
        <span class="fashion-nav-footer__category">
          <a href="/nuestros-productos_DisplayType_G" data-id="{{id}}" class="header--custom-text">
            Todos los productos
          </a>
        </span>
        <span class="fashion-nav-footer__category">
          <a href="/politica-devolucion" data-id="{{id}}" class="header--custom-text">
            Politica de devolución
          </a>
        </span>
      </div>

      <div class="fashion-nav-footer__pages header--custom-border">
        <span class="fashion-nav-footer__page">
          <a href="{{linkToHowBuy.href}}" class="header--custom-text como-comprar">Preguntas Frecuentes</a>
        </span>
      </div>

      <div class="fashion-nav-footer__contact-col">
        <div class="fashion-nav-footer__social-media">
          <a target="_blank" href="https://www.facebook.com/HackersHTVS"><i class="fab fa-facebook"></i></a>
          <a target="_blank" href="https://www.instagram.com/htvstecnologia/"><i class="fab fa-instagram"></i></a>
        </div>
        {{#if showContact}}
        <ul
          class="fashion-nav-footer__contnav-header__image nav-fashion-header__logo_footeract header--custom-border contacto-footer">
          {{#if showPhone}}
          <li class="contact-phone-number">
            <a class="header--custom-text" itemprop="telephone" href="tel:{{phone.raw}}" rel="nofollow">Tel:
              {{phone.formatted}}</a>
          </li>
          {{/if}}
          {{#if showEmail}}
          <li class="contact-mail">
            <a class="header--custom-text" itemprop="email" href="mailto:{{email}}" rel="nofollow">{{email}}</a>
          </li>
          {{/if}}
          {{#if address}}
          {{#with address}}
          <li class="contact-adress">
            <a class="header--custom-text" itemprop="streetAddress">{{address}}</a>
            <a class="header--custom-text" itemprop="addressLocality">{{city}}</a>
            <a class="header--custom-text" itemprop="addressRegion">{{state}}</a>
          </li>
          {{/with}}
          {{/if}}
          <meta itemprop="contactType" content="customer service" />
        </ul>
        {{/if}}
      </div>
    </div>
  </div>
</div>
<footer role="contentinfo" class="fashion-nav-footer nav-footer header--custom-text header--custom-background">
  <div class="nav-bounds nav-bounds--copyright">
    <div class="nav-footer-primaryinfo">
      <small class="nav-footer-copyright">
        <div class="nav-footer-disclaimer">
          <div>
            <div class="nav-footer-about">
              <a href="{{{linkToMShopsLandingPage}}}" target="_blank"
                class="header--custom-text">{{i18n.powered_by}}</a>
              {{#if linkToLegalNotices}}
              <a href="{{linkToLegalNotices.href}}" class="header--custom-text">{{linkToLegalNotices.label}}</a>
              {{/if}}
              {{#if linkToLGPD}}
              <a href="{{linkToLGPD.href}}" class="header--custom-text">{{linkToLGPD.label}}</a>
              {{/if}}
            </div>
            {{#if showBusinessData}}
            {{#with fiscalData}}
            <div class="nav-footer-fiscal-data">
              <p class="nav-footer-fiscal-data__name">{{legal_name}}</p>
              <p class="nav-footer-fiscal-data__id">{{legal_doc}}</p>
            </div>
            {{/with}}
            {{/if}}
          </div>
          {{#if showQrData}}
          {{#with fiscalData}}
          <a href={{qr_link}} target="_F960AFIPInfo">
            <img class="nav-footer-afip-img" src={{qr_img}} alt="Data fiscal" />
          </a>
          {{/with}}
          {{/if}}
        </div>
      </small>
    </div>
  </div>
</footer>